@using RealEstateApp.Domain.Entities;
@model RealEstate
@{

}

<div class="estate align-items-center p-3 mt-3 rounded d-flex justify-content-between border border-success" data-id="@Model.Id">
	<div class="form-check d-flex justify-content-around align-items-center">
		<label class="form-label" asp-for="Id">@Model.Id</label>
	</div>
	<div>
		<label class="form-label" asp-for="Address">@Model.Address</label>
	</div>
	<div>
		<label class="form-label" asp-for="Price">@Model.Price</label>
	</div>
	<div>
		<button type="button" class="btn btn-success edit" data-bs-toggle="modal" data-bs-target="#exampleModal1" data-bs-placement="top" title="Редактировать">Редактировать
			</button>
		<form asp-controller="RealEstate" asp-action="Delete">
			@Html.HiddenFor(m=>m.Id)
			<button type="submit" class="btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Удалить">Удалить
			</button>
		</form>
	</div>
</div>

<!-- Модальное окно -->
<div class="modal fade" id="exampleModal" aria-labelledby="exampleModalLabel" aria-hidden="true" data-id="@Model.Id">
	<form asp-controller="RealEstate" asp-action="Update">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Заголовок модального окна</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
				</div>
				<div class="modal-body">
					<span></span>
					<div class="form-floating">
						<input type="text"
							   class="form-control shadow-sm rounded"
							   placeholder="Адрес объекта"
							   id="AddressInput">
						<label asp-for="Address">Адрес объекта</label>
					</div>
					<span asp-validation-for="Address" class="text-danger"></span>
					<div class="text-danger">@ViewBag.Error</div>
					<div class="form-floating">
						<input 
							   type="number"
							   min="1"
							   step="any"
							   class="form-control shadow-sm rounded"
							   placeholder="Цена объекта"
							   id="PriceInput">
						<label asp-for="Price">Цена объекта</label>
					</div>
					<span asp-validation-for="Price" class="text-danger"></span>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
					<button type="sumbit" class="btn btn-primary">Сохранить изменения</button>
				</div>
			</div>
		</div>
		</form>
</div>





